{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

{{outlet}}
<SharerButton
  data-sharer="facebook" 
  data-hashtag="ok"
  data-quote="hello world"
  data-url="https://emberobserver.com/"
>
  hello
</SharerButton>
