{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<div
  data-sharer="facebook" 
  data-hashtag="ok"
  data-quote="hello world using modifier"
  data-url="https://emberobserver.com/"
  {{sharer-init}}
>
  Hello2
</div>
